@import '../../style/abstract/abstract';

.content-card {
  background-color: $c-lightest;
  border: none;
  border-radius: $border-radius;
  padding: 1rem;
  margin-top: 2rem;
  position: relative;
  
  &__avatar {
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: $border-radius;
    margin-right: 1rem;
  }
  &__username {
    @extend %h3;
    color: $c-darkest;
  }
  &__date {
    @extend %small;
    color: $c-dark;
  }
  &__button {
    position: absolute;
    right: 0; top: .5rem;
    margin-top: -1rem;
  }
  &__icon {
    color: $c-darkest;
    @include easeOut;
    
    &:hover {
      color: $c-active;
    }
  }
  &__public {
    @extend %small;
    color: $c-darkest;
  }
  &__text {
    @extend %p;
    color: $c-darkest;
  }
  &__image {
    margin-top: 1rem;
  }
  &__video {
    margin-top: 1rem;
    width: 100%;
    height: auto;
  }
}

.content-card-footer {
  &__item {
    margin: 0 -.5rem;
  }
  &__button {
    @extend %h4;
    font-weight: bold;
    background: none;
    border: none;
    color: $c-darkest;
    @include easeOut;
    margin: 0 .5rem;
    
    &:hover {
      color: $c-active;
      background: none;
      border: none;
    }
  }
}
.like-done {
  font-size: 14px;
  font-weight: bold;
  color: #a7aba7;
  margin: 0 .5rem;
}
