.sub-heading-edit-profile {
    color:rgba(0, 0, 0, 0.5)
}
.edit-profile-header {
	font-weight: bold;
	margin: 0;
	color: #1b1b4c;
	font-size: 30px;
}
.button-background {
    background-color: #1b1b4c;
    border: #1b1b4c;
}